<div>1.- Comrpobar si tenemos el usuario informado, si no mostramos botón login</div>
@if (user) {
  <div>{{user}}</div>
} @else {
  <button>Login</button>
}
<hr>
<div>2.- Pintamos array</div>
@for(arr of array; track arr) {
  <p>{{arr}}</p>
}
<hr>
<div>3.- Botón con evento que pintara por consola "Hello World"</div>
<!-- Le pasamos $event que es el evento nativo del DOM -->
<button (click)="handlerClick($event)">Click</button>
<hr>
<div>4.- Calendario</div>
<app-calendar-grid></app-calendar-grid>
<hr>
<div>5.- Signal</div>
<app-counter></app-counter>
<hr>
<div>6.- Timer</div>
<app-timer></app-timer>